* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(house.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 8%;
}
nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
}
.nav-logo img {
    width: 110px;

}
.nav-links {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}
.nav-links a {
    text-decoration: none;
    margin-left: 40px;
}
.bah {
    background-color: black;
    padding: 10px 15px;
    border: 1.5px white solid;
    border-radius: 4px;
    color: white;
    transition: 1.5s;
}
.mainland {
    border: 2px white solid;
    padding: 10px 15px;
    color: white;
}
.island {
    background: white;
    padding: 11px 26px;
    color: black;
    border: 2px black solid;
}
.content {
    margin-top: 180px;
    color: white;
}
.content h1 {
    font-size: 60px;
}
.search-box {
    background: white;
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 18px 20px;
    border-radius: 5px;
    margin: 20px 20px 20px 0;
}
.search-box input {
    background: transparent;
    width: 600px;
    border: 0;
    outline: none;
}
.search-box button {
    background: transparent;
    border: none;
    cursor: pointer;

}
.search-box button img {
    width: 22px;
}

/* content */
/* first section */
.section {
    width: 100%;
    /* min-height: 100vh; */
    height: 650px;
    background: #ddd;
}
.penthouse {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}
.pent-section {
    float: left;
    width: 75%;
}
.img-section {
    float: right;
    width: 50%;
}
.img-section img {
    width: 100%;
    height: 350px;
    border: 1px solid black;
}
.img-section img:hover {
    border: 2px solid white;
    border-radius: 10px;
}
.pent-section .about-house h3 {
    margin-top: 20px;
    color: #5d5d5d;
    font-size: 22px;
}
.pent-section .about-house p {
    margin-top: 30px;
    font-size: 18px;
    line-height: 1.5;
}
.pent-section .about-house .button {
    margin-top: 40px;
}
.pent-section .about-house .button a {
    background: #3d3d3d;
    padding: 12px 40px;
    text-decoration: 0;
    color: white;
    border-radius: 30px;
    font-size: large;
    letter-spacing: 1px;
}
.pent-section .about-house .button a:hover {
    background: gray;
}



/* second section */
.gallery-section {
    width: 100%;
}
.gallery-section .gallery-wrap {
    padding-top: 10px;
}
.gallery-section .gallery-wrap .gallery-images {
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.gallery-section .gallery-wrap .gallery-images .gallery {
    width: 100%;
    position: relative;
}
.gallery-section .gallery-wrap .gallery-images .gallery .image-sec {
    width: 100%;
}
.gallery-section .gallery-wrap .gallery-images .gallery img {
    width: 100%;
    height: 350px;
    border: 1px solid #ddd;
    display: block;
}
.gallery-section .gallery-wrap .gallery-images .gallery .text {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 15px;
    top: 0;
    left: 0;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0,0,0,0.6);
    color: white;
    opacity: 0;
    transition: opacity 0.50s;
}
.gallery-section .gallery-wrap .gallery-images .gallery .text h3 {
    position: relative;
    bottom: 20px;
}
.gallery-section .gallery-wrap .gallery-images .gallery .text:hover {
    opacity: 1;
}
.gallery-section .gallery-wrap .gallery-images .gallery .text p {
    font-size: 12px;
}




/* footer */
footer {
    width: 100%;
    position: absolute;
    /* bottom: 0; */
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(big\ home.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px 0 30px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    font-size: 13px;
    line-height: 20px;
}
.footer-logo {
    width: 60px;
    margin-bottom: 30px;
}
.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col {
    flex-basis: 25%;
    padding: 10px;
}
.col h3 {
    width: fit-content;
    margin-bottom: 58px;
    position: relative;
}
.email-id {
    width: fit-content;
    border-bottom: 1.5px solid #ccc;
    margin: 20px 0;
}
ul li {
    list-style: none;
    margin-bottom: 12px;
}
ul li a {
    text-decoration: none;
    color: white;
}
.form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
form input {
    width: 100%;
    background: transparent;
    color: white;
    border: 1px white dotted;
    outline: none;
    padding: 5px;
}
form button {
    background: transparent;
    margin-top: 20px;
    padding: 5px 17px;
    border: 1px white solid;
    color: white;
    cursor: pointer;
}
form input::placeholder {
    color: white;
    padding-left: 10px;
}
.col:nth-child(2), .col:nth-child(3) {
    flex-basis: 15%;
}
.line {
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 4px;
    position: absolute;
    top: 25px;
    overflow: hidden;
    /* left: 0; */
}
.line span {
    width: 10px;
    height: 100%;
    background: white;
    border-radius: 3px;
    position: absolute;
    left: 10px;
    animation: moving 2s linear infinite;
}
@keyframes moving {
    0% {
        left: -20px;
    }
    100% {
        left: 100%;
    }
}




/* container */
@media (max-width: 700px){
    .search-box input {
        width: 230px;
    }
    .nav-logo {
        flex-basis: 100%;
        margin-bottom: 10px;
        text-align: center;
    }
    .nav-logo img {
        width: 60px;
    }
    .nav-links {
        justify-content: center;
        font-size: 7px;
        margin-top: 20px;
        
    }
    .nav-links a {
        margin-left: 10px;
        margin-right: 10px;
    }
    .nav-links .btn {
        background: transparent;
        color: white;
        padding: 0;
    }
    .content h1 {
        font-size: 30px;
    }
    .content {
        margin-top: 85px;
    }
    .search-box {
        padding: 10px 20px;
    }
    .search-box button img {
        width: 15px;
    }
}

/* content */
/* first section */
@media (max-width: 768px){
    .penthouse {
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
    }
    .img-section {
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }
    .section {
        height: 770px;
        background: #ddd;
    }
    .pent-section {
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }
    .pent-section .about-house h3 {
        text-align: center;
        font-size: 18px;
    }
    .pent-section .about-house p {
        font-size: 15px;
    }
    .pent-section .about-house .button {
        text-align: center;
    }
    .pent-section .about-house .button a {
        padding: 9px 30px;
    }
}





/* second section */
@media (max-width: 992px) {
    .gallery-section .gallery-wrap .gallery-images {
        grid-template-columns: (2, 1fr);
    }
}
@media (max-width: 568px) {
    .gallery-section .gallery-wrap .gallery-images {
        grid-template-columns: 1fr;
    }
}

/* footer */
@media (max-width: 700px){
    footer {
        bottom: unset;
    }
    .col {
        flex-basis: 100%;
        /* padding: 10px; */
    }
    .col:nth-child(2), .col:nth-child(3) {
        flex-basis: 100%;
    }
}